doctype html
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="author" content="ENG RONY AHMMOD")
        title A quiz API
        link(rel="stylesheet" href="css/style.css")

        body 
            h1(class="api__title") A simple quiz API. 
            p(class="api__description") You are using this API for managing quiz. You can create quiz, delete quiz, manage questions. You can 100 requests from the same IP address. 

            div(class="quiz") 
                h3(class="api__request-title") Quiz request 
                table 
                    thead 
                        tr 
                            td REQUEST URL
